In [1]:
from pyspark.sql import SparkSession
import os

spark = SparkSession.builder \
    .appName("Python Spark Hive") \
    .master("local[2]") \
    .config("spark.driver.memory","2g") \
    .config("spark.executor.memory","2g") \
    .enableHiveSupport()\
    .getOrCreate()

In [2]:
path = 'c:\\Users\\Yeojun\\Documents\\GitHub\\Programmers_DevCourse\\학습내용\\빅데이터 처리 시스템 하둡과 Spark\\data'

In [3]:
from pyspark.sql.functions import *
from pyspark.sql.types import StructType, StructField, StringType, ArrayType

# order = spark.read.options(delimiter='\t').option("header","true").csv(path + "/orders.csv")
df = spark.read.csv(path+"/orders.csv", inferSchema=True, header=True, sep='\t')

In [4]:
df.show(5)

+------------+--------------------+
|    order_id|               items|
+------------+--------------------+
|860196503764|[{"name": "DAILY ...|
|860292645076|[{"name": "DAILY ...|
|860320956628|[{"name": "DAILY ...|
|860321513684|[{"name": "DAILY ...|
|862930665684|[{"name": "DAILY ...|
+------------+--------------------+
only showing top 5 rows

In [4]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
|  test_db|
+---------+

In [5]:
spark.sql("CREATE DATABASE IF NOT EXISTS TEST_DB")
spark.sql("USE TEST_DB")

DataFrame[]

In [6]:
df.write.saveAsTable("TEST_DB.orders",mode="overwrite")

In [1]:
spark.conf.get("spark.sql.warehouse.dir")

NameError: name 'spark' is not defined

In [10]:
spark.sql("SELECT * FROM TEST_DB.orders").show(5)

+------------+--------------------+
|    order_id|               items|
+------------+--------------------+
|860196503764|[{"name": "DAILY ...|
|860292645076|[{"name": "DAILY ...|
|860320956628|[{"name": "DAILY ...|
|860321513684|[{"name": "DAILY ...|
|862930665684|[{"name": "DAILY ...|
+------------+--------------------+
only showing top 5 rows

In [11]:
spark.table("TEST_DB.orders").show(5)

+------------+--------------------+
|    order_id|               items|
+------------+--------------------+
|860196503764|[{"name": "DAILY ...|
|860292645076|[{"name": "DAILY ...|
|860320956628|[{"name": "DAILY ...|
|860321513684|[{"name": "DAILY ...|
|862930665684|[{"name": "DAILY ...|
+------------+--------------------+
only showing top 5 rows

In [ ]:
spark.sql("""
    DROP TABLE IF EXISTS TEST_DB.orders_count;
""")

DataFrame[]

In [5]:
spark.sql("SHOW DATABASES").show()
spark.sql("SHOW TABLES IN TEST_DB").show()

+---------+
|namespace|
+---------+
|  default|
|  test_db|
+---------+

+---------+------------+-----------+
|namespace|   tableName|isTemporary|
+---------+------------+-----------+
|  test_db|      orders|      false|
|  test_db|orders_count|      false|
+---------+------------+-----------+

In [15]:
spark.sql("""
    CREATE TABLE TEST_DB.orders_count AS
    SELECT order_id, COUNT(1) as count
    FROM TEST_DB.orders
    GROUP BY 1""")

DataFrame[]

In [ ]:
spark.catalog.listTables()

In [6]:
spark.sql("SELECT * FROM test_db.orders_count LIMIT 10").show()

+-------------+-----+
|     order_id|count|
+-------------+-----+
|1209310019796|    1|
|1253925257428|    1|
|1314797846740|    1|
|1370637402324|    1|
|1967690285268|    1|
|1971226443988|    1|
|2106987970772|    1|
|2135281533140|    1|
|1271771070676|    1|
|1713331765460|    1|
+-------------+-----+