In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *

if __name__ == "__main__":
    spark = SparkSession \
        .builder \
        .appName("Spark FS Partition Demo") \
        .master("local[4]") \
        .enableHiveSupport() \
        .getOrCreate()

In [2]:
path = "C:\\Users\\Yeojun\\Documents\\GitHub\\Programmers_DevCourse\\학습내용\\빅데이터 처리 시스템, 하둡과 Spark\\data"

In [3]:
df = spark.read.csv(path + "\\appl_stock.csv", header=True, inferSchema=True)
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [ ]:
df.show(10)

In [5]:
df = df.withColumn("year", year(df.Date)) \
    .withColumn("month", month(df.Date))

In [6]:
spark.sql("DROP TABLE IF EXISTS appl_stock")

DataFrame[]

In [7]:
df.write.partitionBy("year", "month").saveAsTable("appl_stock")

In [14]:
import os
print(os.listdir("./appl_stock/year=2010"))
os.listdir("./appl_stock/year=2010/month=12")

['month=1', 'month=10', 'month=11', 'month=12', 'month=2', 'month=3', 'month=4', 'month=5', 'month=6', 'month=7', 'month=8', 'month=9']

['.part-00000-a87ee577-6f8c-4e11-94fc-cf98011fd96d.c000.snappy.parquet.crc',
 'part-00000-a87ee577-6f8c-4e11-94fc-cf98011fd96d.c000.snappy.parquet']

### How to Read from Partitioned table

In [15]:
df = spark.read.table("appl_stock").where("year = 2016 and month = 12")

In [ ]:
spark.sql("SELECT * FROM appl_stock WHERE year = 2016 and month = 12").show(10)