In [ ]:
!pip install SQLAlchemy==1.4.49
!pip install ipython-sql==0.4.1

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://[ID]:[PW]@[Redshift endpoint]

### Redshift Schema 설정

In [ ]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

In [ ]:
%%sql

select * from pg_namespace;

### Redshift User 설정

In [ ]:
%%sql

CREATE USER [사용자명] PASSWORD [패스워드];

In [ ]:
%%sql

select * from pg_user;

### Redshift Group 설정

In [ ]:
%%sql

select * from pg_group;

In [ ]:
%%sql

CREATE GROUP analytics_users;
CREATE GROUP pii_users;
CREATE GROUP analytics_authors;

In [ ]:
%%sql

ALTER GROUP analytics_users ADD USER yeojun;
ALTER GROUP pii_users ADD USER yeojun;
ALTER GROUP analytics_authors ADD USER yeojun;

### Redshift Role 설정

In [ ]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

In [ ]:
%%sql

GRANT ROLE staff TO yeojun;
GRANT ROLE staff TO ROLE manager;

In [ ]:
%%sql

select * from SVV_ROLES;

### COPY 명령으로 테이블 만들기

In [ ]:
%%sql

CREATE TABLE raw_data.user_session_channel(
  userid integer,
  sessionid varchar(32) primary key,
  channel varchar(32)
);

In [ ]:
%%sql

COPY raw_data.user_session_channel
FROM 's3://yeojun-test-bucket/test_data/user_session_channel.csv'
credentials [IAM_ARN]
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

In [ ]:
%%sql

CREATE TABLE raw_data.session_timestamp(
  sessionid varchar(32) primary key,
  ts timestamp
);

In [ ]:
%%sql

COPY raw_data.session_timestamp
FROM 's3://yeojun-test-bucket/test_data/session_timestamp.csv'
credentials [IAM_ARN]
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

In [ ]:
%%sql

CREATE TABLE raw_data.session_transaction (
  sessionid varchar(32) primary key,
  refunded boolean,
  amount int
);

In [ ]:
%%sql

COPY raw_data.session_transaction
FROM 's3://yeojun-test-bucket/test_data/session_transaction.csv'
credentials [IAM_ARN]
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;