In [ ]:
# print(*values, sep, end)
print(1, 2, 3, "머쓱이")

In [ ]:
print(1, 2, 3, "머쓱이", sep ="\t")

In [ ]:
print(1, 2, 3, "머쓱이", end ='입니다')
print("테스트")

In [ ]:
print(1, 2, 3, "머쓱이", sep="\t", end ='\n\n')
print("test")